<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Página ejemplo</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	
	<body>
		<header>
			<h1>Trabajo Práctico 3 - HTML</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="#Introduccion">Presentación</a></li>
				<li><a href="#Contenido">Contenido</a></li>
				<li><a href="#Contacto">Contacto</a></li>
			</ul>
		</nav>
		
		<main>
			<section id="Introduccion">
				<h3>Presentación</h3>
				<p>Corresponde al 1er cuatrimestre del 2do año de la carrera de Analista Programador Universitario <br><br>
				Plan de Carrera: 2008 <br>
				Modalidad: Virtual <br>
				Sede: San Salvador de Jujuy <br>
				Carga Semanal: 6 horas <br>
				Carga Total: 90 horas<br>
				Carácter: Troncal (Obligatoria) </p>
			</section>
			
			<section id="Contenido">
				<h3>PROGRAMACIÓN VISUAL APU 2008 SAN SALVADOR – AÑO 2024</h3>
				
				<ul>
					<li>UNIDAD I: Lenguaje Java</li>
					<li>UNIDAD II: Introducción a Spring Boot</li>
					<li>UNIDAD III: Gestión de Dependencias y Versionamiento</li>
					<li>UNIDAD IV: Spring Boot MVC</li>
					<li>UNIDAD V: Clases de negocio</li>
					<li>UNIDAD VI: Persistencia de Objetos</li>
					<li>UNIDAD VII: Manejo de formularios</li>
				</ul>
			</section>
			
			<section id="Contacto">
				<h3>Contacto</h3>
				
				<table>
					<tr>
    					<th>Nombre de la Asignatura</th>
    					<th>Equipo de Catédra</th>
    					<th>Responsable de la Catédra</th>
  					</tr>
  					<tr>
    					<td>Programación Visual</td>
    					<td>Prof Adj Ded. Simple Mg. Ing. Gustavo Sosa<br>
							JTP Ded. Simple: Ing. Carolina Apaza<br>
							Ayu. Primera Ded. Simple Juan Rodriguez</td>
    					<td>Responsable de Cursada<br>
							Mg. Ing. Ariel Alejandro Vega</td>
  					</tr>
				</table>
				
			</section>
			
			<aside>
				<h3>Aula Virtual</h3>
				<a><img src="/images/logopv.jpg" alt="Aula Virtual"></a>
				<p>Teoría única: Miércoles: 14 a 17 hs - MODALIDAD VIRTUAL - Aula Virtual de la Sala 4 (LUTI) - https://bit.ly/ZOOMFI-14. <br>
				Comisión 1 Práctica: Lunes: 18 a 21 hs - MODALIDAD VIRTUAL - Aula Virtual del AULA 11 - https://bit.ly/ZOOMFI-14 <br>
				Comisión 2 Práctica: Jueves 14 a 17 hs - MODALIDAD VIRTUAL - https://bit.ly/ZOOMFI-14 <br>
				Comisión 3 Práctica: Viernes 18 a 21 hs - MODALIDAD VIRTUAL - https://bit.ly/ZOOMFI-14
				</p>
			</aside>
			
			
		</main>
		
		<footer>
			<h3>Contacto</h3>
			<p>E-mail: consultas@unju.edu.ar<br>
			Teléfono: (0388) 4244196 / 191 / 107<br>
			Dirección: Av.Bolivia 1239<br>
			S.S. de Jujuy - Argentina<br>
			<a href="https://www.facebook.com/universidadnacionaldejujuy/">Facebook</a><br>
			<a href="https://twitter.com/prensaunju?lang=es">Twitter</a><br>
			<a href="http://tv.unju.edu.ar/">Página</a></p>
		</footer>
		
	</body>
</html>