<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Página ejemplo</title>
	</head>
	
	<body>
		<header>
			<h1>Trabajo Práctico 3 - HTML</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="#Introduccion">Presentación</a></li>
				<li><a href="#Contenido">Contenido</a></li>
				<li><a href="#Contacto">Contacto</a></li>
			</ul>
		</nav>
		
		<main>
			<section id="Introduccion">
				<h3>Presentación</h3>
				<p>La Universidad Nacional de Jujuy (UNJ o UNJu) es una universidad pública argentina ubicada en San Salvador 
				de Jujuy, provincia de Jujuy. Fundada en 1973, cuenta con cuatro facultades y cinco institutos, donde cursan 
				sus carreras alrededor de 25 000 estudiantes. Hay 40 mil usuarios de alumnos en UNJu Virtual. Su Rector desde 
				2014 es el Licenciado Rodolfo Tecchi hasta la actualidad. </p>
			</section>
			
			<section id="Contenido">
				<h3>Contenido</h3>
				<p>La oferta académica de la UNJu (especificamente en la facultad de Ingeniería) son:</p>
				
				<ul>
					<li>Ingeniería Química</li>
					<li>Ingeniería de Minas</li>
					<li>Ingeniería Industrial</li>
					<li>Ingeniería Informática</li>
					<li>Licenciatura en Sistemas</li>
					<li>Licenciatura en Tecnología de los Alimentos</li>
					<li>Licenciatura en Ciencias Geológicas</li>
					<li>Tecnicatura Universitaria en Ciencias Geológicas</li>
					<li>Analista Programador Universitario</li>
					<li>Tecnicatura Universitaria en Explotación de Minas</li>
					<li>Tecnicatura Universitaria en Procesamiento de Minerales</li>
					<li>Tecnicatura Universitaria en Perforaciones</li>
					<li>Tecnicatura Universitaria en Cs. de la Tierra Orientada a Petróleo</li>
					<li>Tecnicatura Universitaria en Diseño Integral de Videojuegos</li>
				</ul>
			</section>
			
			<section id="Contacto">
				<h3>Contacto</h3>
				
				<table>
					<tr>
    					<th>E-Mail</th>
    					<th>Teléfono</th>
    					<th>Dirección</th>
  					</tr>
  					<tr>
    					<td>consultas@unju.edu.ar</td>
    					<td>(0388) 4244196 / 191 / 107</td>
    					<td>Av.Bolivia 1239</td>
  					</tr>
				</table>
				
			</section>
			
		</main>
		
	</body>
</html>